name: Deploy Spring Boot JAR to Azure

on:
  push:
    branches:
      - master       
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

     
    - name: Deploy JAR to Azure
      uses: azure/webapps-deploy@v2
      with:
        app-name: springapp         
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: spring-boot-basics-0.0.1-SNAPSHOT.jar  
